---
layout: default
---

    <section id="home" class="first-section">
        <img class="img-no-shadow" src="img/art.png" alt="art by adelya">
    </section>
    {% for s in site.data.content %}
    <scroll-page id="{{ s.id }}">
    <hr>
    <section>
        <div class="container">
        <h2>❤<br><br>{{ s.section }}</h2>
        {% if s.right_image %}
        <div class="sidebar-right"><img src="{{ s.right_image }}" alt="{{ s.alt }}"></div>
        {% endif %}
        {{ s.text | markdownify }}
        </div>
    </section>
    {% if s.full_image %}
    <hr>
    <img class="full-img" src="{{ s.full_image }}" alt="{{ s.alt }}">
    {% endif %}
    {% endfor %}
    </scroll-page>
    </div>
