body {
	font-family: 'Nunito', sans-serif;
	height: 100%; 
	font-size:16px;
	text-align:center;
	display:inline-block;
	color:#75828C;
	background-color: #FFEAE5;
	margin: 0;
}

#colors {
	background-color: #F4C0AF;
	/*pale chestnut*/
	background-color: #FFEAE5; 
	/*misty rose*/
	color: #FEFAD1;
	/*lemon chiffon*/
	color: #898F82;
	/*mummy's tomb*/
	color: #75828C;
	/*slate gray*/
}

#header {
	font-size:16px;
	font-family: 'Carrois Gothic SC', serif;
	position: fixed;
	width:100%;
	text-align:center;
}

#menu { 
	background-color: #E1ADB4;
	color:#898F82;
	padding: 25px;
}

.menu-item {
	display:inline-block;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	padding-left: 50px;
	padding-right: 50px;
}
.menu-item:hover {
	color:#FEFAD1;
}

.menu-item a {
	text-decoration: none;
	color:inherit;
}

#home {
	padding-top:70px;
	padding-bottom:40px;
	margin-top:60px;
	margin-bottom:60px;
	
	font-family: 'Oleo Script', serif;
	font-size:72;
	background-color:white;
	width:100%
}

#paragraphs {
	padding-left:60px;
	padding-right:60px;
	
	text-align:left;
}

#paragraphs-wrap {
	padding-left:60px;
	padding-right:60px;
}

#story {
	background-color:white;
	width:100%;
	
	margin-top:30px;
	margin-bottom:30px;
	padding-top:60px;
	padding-bottom:60px;

}

#rsvp {
	background-color:white;
	width:100%;
	
	margin-top:30px;
	margin-bottom:30px;
	
	padding-top:60px;
	padding-bottom:60px;
}


#registry {
	float:left;
	background-color:white;
	width:100%;
	
	padding-top:60px;
	padding-bottom:60px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#title {
	font-weight:bold;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size:40px;
	margin:20px;
}

#logo {
	margin:20px;
	display:inline-block;
}

.link {
	display:inline-block;
	color: #F4C0AF;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
}
.link a {
	text-decoration: none;
	color:inherit;
}
.link:hover{
	color: #FEFAD1;
}


.button {
	font-family: 'Carrois Gothic SC', sans-serif;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	margin-top:5;
    position:relative;
    vertical-align: center;
    text-align: center;
    background-color: #898F82;
    font-size:16;
	color:white;
	width:170px;
	margin-left:auto;
	margin-right:auto;
	border-radius:25px;
}

.button a {
    text-decoration: none;
    color:white;
}

.button a:hover {
    color: #FEFAD1;
}

#footer {
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align:center;
	padding-top:20px;
	margin-top:20px;
    padding-bottom:10px;
}