// Colors
$pale-chestnut: #F4C0AF;
$misty-rose: #FFEAE5;
$lemon-chiffon: #FEFAD1;
$mummys-tomb: #898F82;
$slate-gray: #75828C;

$body-color: $slate-gray;
$body-bg: $misty-rose;
$menu-color: $mummys-tomb;
$menu-bg: #E1ADB4;
$shadow-color: #888;

// Typography
$main-font: Nunito;
$heading-font: Carrois Gothic SC;
$title-font: Oleo Script;
