<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Oleo Script'rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois Gothic SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  {% include head.html %}
  </head>
  <body>
    <nav>
        <div class="menu-item">
        <a href="/wedding/#home">Home</a>
        </div>
        {% for s in site.data.content %}
        {% if s.id %}
        <div class="menu-item">
        <a href="/wedding/#{{ s.id }}">{{ s.section }}</a>
        </div>
        {% endif %}
        {% endfor %}
        <!-- TODO maybe include rsvp button here -->
    </nav>
    <div id="wrapper">
    {{ content }}
    </div>
    <div id="footer">
        Made with ❤ by Hina Sakazaki &amp; Chris Thompson, 2018
    </div>
    {% include scripts.html %}
  </body>
</html>
